body {
  background-color: black;
  overflow-x: hidden;
}

main {
  section {
    max-width: 100vw;

    &:nth-of-type(1) {
      display: grid;
      place-content: center;
      padding: 1rem;
      height: 100vh;

      h1 {
        color: var(--kleur-primair-h1);
        font-family: var(--font-family-bebas);
        display: table;
        line-height: 0.8;
        word-break: break-word;
        text-align: center;

        .h1-muziek {
          color: var(--kleur-secundair-h1);
        }

        &::after {
          content: " IEDEREEN";
          font-size: 2rem;
        }
      }
    }

    &:nth-of-type(2) {
      min-height: 80vh;
      background-image: url(../assets/foto-staand.jpeg);
      background-size: cover;
      background-position: bottom;
    }

    &:nth-of-type(3) {
      min-height: 80vh;
      background-color: black;
      color: white;
      padding: 2rem;
      padding-top: 3rem;
      z-index: -1;
      position: relative;

      ul {
        display: grid;
        gap: 1rem;

        li {
          a {
            background: #971000;
            color: white;
            text-decoration: none;
            border-radius: 2rem;
            position: relative;
            height: 2.5rem;
            width: 7.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(50%) !important;
        z-index: -1;
        overflow: hidden;
      }
    }

    &:nth-of-type(4) {
      background-color: white;
      z-index: 1;
      position: relative;
      padding: 3rem 2rem;

      p {
        padding-top: 1rem;
      }

      ul {
        padding-top: 3rem;

        display: grid;
        gap: 2.5rem;

        div {
          display: flex;
          justify-content: space-between;
          padding-top: 1rem;
        }

        li {
          border-bottom: 1px solid black;
          padding-bottom: 1rem;
        }
      }
    }

    &:nth-of-type(5) {
      ul:nth-of-type(1) {
        display: grid;
        gap: 1rem;
        padding: 4rem 2rem;

        li {
          p {
            color: white;
          }

          h2 {
            color: white;
          }

          svg {
            fill: white;
            width: 1.8rem;
          }
        }

        li:nth-of-type(3) {
          display: flex;
          gap: 1rem;
        }
      }
      ul:nth-of-type(2) {
        img {
          width: 100%;
          transform: translateY(4px);
        }
      }
    }
    &:nth-of-type(6) {
      color: white;
      height: 50vh;
      display: grid;
      place-content: center;

      h2 {
        text-align: center;
      }
    }
  }

  footer {
    background: white;
    height: 20vh;
    display: grid;
    place-content: center;
  }
}

article.popup {
  background-color: #1f1f1f;
  border: 3px solid #1db954;
  color: #1db954;
  height: 6rem;
  border-radius: 0.3rem;
  position: fixed;
  z-index: 5;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  display: flex;
  margin: 0.8rem;
  width: -webkit-fill-available;
  top: 0;
  opacity: 0;
  transform: translateY(-40px);
  max-width: 30rem;
  pointer-events: none;

  svg {
    width: 2rem;
    fill: #1db954;
  }

  button {
    background: none;
    color: white;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
  }
}

article.popup.is-visible {
  pointer-events: auto;
}
