body {
  background-color: black;
}

main {
  section {
    height: 100dvh;

    &:nth-of-type(1) {
      display: grid;
      place-content: center;
      padding: 1rem;

      h1 {
        color: var(--kleur-primair-h1);
        font-family: var(--font-family-bebas);
        font-size: clamp(3rem, 35vw, 100vh);

        display: table;
        line-height: 0.8;
        word-break: break-word;
        text-align: center;

        .h1-muziek {
          color: var(--kleur-secundair-h1);
        }

        &::after {
          content: " IEDEREEN";
          font-size: 2rem;
        }
      }
    }

    &:nth-of-type(2) {
      background: wheat;
    }
  }
}
