body {
  background-color: black;
  overflow-x: hidden;
}

main {
  section {
    max-width: 100vw;

    &:nth-of-type(1) {
      display: grid;
      place-content: center;
      background-color: black;
      padding: 1rem;
      height: 100vh;
      z-index: 5;
      position: relative;

      @media (min-width: 1000px) {
        display: flex;
        flex-direction: column;
        place-content: end;
        align-items: start;
        padding: 2rem;

        article {
          background-image: url(../assets/123.jpg);
          height: 50vh;
          width: 100%;
          background-size: cover;
          z-index: 10;
          background-position: top;

          @media (min-width: 1400px) {
            background-position: 0 -2rem;
          }
        }
      }

      h1 {
        color: var(--kleur-primair-h1);
        font-family: var(--font-family-bebas);
        display: table;
        line-height: 0.8;
        word-break: break-word;
        text-align: center;

        @media (min-width: 1000px) {
          word-break: normal;
          max-width: 100%;

          span {
            display: none;
          }

          &::before {
            content: "(24)";
            position: absolute;
            font-size: 1.4rem;
            right: -40px;
            top: -20px;
          }

          &::after {
            display: none;
          }
        }

        .h1-muziek {
          color: var(--kleur-secundair-h1);
        }

        &::after {
          content: "IEDEREEN";
          font-size: 2rem;
        }
      }
    }

    &:nth-of-type(2) {
      min-height: 80vh;
      background-image: url(../assets/foto-staand.jpeg);
      background-size: cover;
      background-position: bottom;

      @media (min-width: 1000px) {
        display: none;
      }
    }

    &:nth-of-type(3) {
      min-height: 80vh;
      background-color: black;
      color: white;
      padding: 2rem;
      padding-top: 3rem;
      position: relative;

      @media (min-width: 1000px) {
      }

      ul {
        display: grid;
        gap: 1.5rem;

        @media (min-width: 30rem) {
          max-width: 30rem;
        }

        li {
          a {
            background: #971000;
            color: white;
            text-decoration: none;
            border-radius: 2rem;
            position: relative;
            height: 2.5rem;
            width: 7.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      img {
        position: absolute;
        bottom: 0;
        background: black;
        left: 0;
        width: 100%;
        transform: translateY(50%) !important;
        overflow: hidden;

        @media (min-width: 1000px) {
          width: 50%;
          position: absolute;
          right: 0;
          left: initial;
          transform: translate(50%, 0%) !important;
        }
      }
    }

    &:nth-of-type(4) {
      background-color: white;
      z-index: 1;
      position: relative;
      padding: 3rem 2rem;
      display: grid;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      gap: 3rem;

      p {
        padding-top: 1rem;
      }

      ul:nth-of-type(2) {
        display: grid;
        gap: 2.5rem;

        div {
          display: flex;
          justify-content: space-between;
          padding-top: 1rem;
        }

        li {
          border-bottom: 1px solid black;
          padding-bottom: 1rem;
        }
      }
    }

    &:nth-of-type(5) {
      position: relative;
      overflow-x: hidden;

      div {
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
      }

      video {
        position: absolute;
        z-index: -2;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
      }
      ul:nth-of-type(1) {
        display: grid;
        gap: 1rem;
        padding: 4rem 2rem;

        li {
          p {
            color: white;
          }

          h2 {
            color: white;
          }

          svg {
            fill: white;
            width: 1.8rem;
          }
        }

        li:nth-of-type(4) {
          display: flex;
          gap: 1rem;
          padding-top: 1rem;
        }
      }
      ul:nth-of-type(2) {
        img {
          width: 100%;
          transform: translateY(4px);
        }
      }
    }
    &:nth-of-type(6) {
      background-color: black;
      height: 50vh;
      display: grid;
      place-content: center;

      h2 {
        text-align: center;
      }
    }
  }

  footer {
  }
}

article.popup {
  background-color: #e0e0e0;
  height: 6rem;
  border-radius: 0.4rem;
  position: fixed;
  z-index: 5;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  display: flex;
  margin: 0.8rem;
  width: -webkit-fill-available;
  top: 0;
  opacity: 0;
  transform: translateY(-40px);
  max-width: 25rem;
  pointer-events: none;

  ul {
    display: flex;
    gap: 1rem;
    align-items: center;

    li:nth-of-type(2) {
      p:nth-of-type(1) {
        font-weight: 500;
        cursor: pointer;
      }

      p:nth-of-type(2) {
        font-size: 90%;
      }
    }
  }

  img {
    width: 4.5rem;
  }

  button {
    background: none;
    color: black;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
  }
}

article.popup.is-visible {
  pointer-events: auto;
}

#loadMoreBtn {
  background: none;
  border: none;
  font-family: var(--font-family-gillsans);
  font-size: 1rem;
  justify-self: left;
  border: 1px solid black;
  height: 2.5rem;
  width: 12rem;
  cursor: pointer;
}

footer {
  background-color: white;
  text-align: center;
  padding: 2rem;
  display: grid;
  place-content: center;
}

.three-btn {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  border: 1px solid white;
  cursor: pointer;
  background: black;
  color: white;
  font-size: 1rem;
}
