body {
  background-color: black;
}

main {
  section {
    &:nth-of-type(1) {
      display: grid;
      place-content: center;
      padding: 1rem;
      height: 100dvh;

      h1 {
        color: var(--kleur-primair-h1);
        font-family: var(--font-family-bebas);
        font-size: clamp(3rem, 35vw, 100vh);

        display: table;
        line-height: 0.8;
        word-break: break-word;
        text-align: center;

        .h1-muziek {
          color: var(--kleur-secundair-h1);
        }

        &::after {
          content: " IEDEREEN";
          font-size: 2rem;
        }
      }
    }

    &:nth-of-type(2) {
      min-height: 80dvh;
      background-image: url(../assets/foto-staand.jpeg);
      background-size: cover;
      background-position: top;
    }

    &:nth-of-type(3) {
      height: 70dvh;
      background-color: black;
      color: white;
      padding: 2rem;
      position: relative;

      p {
        font-size: 1.5rem;
      }

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        animation: draaien 5s linear infinite;
        overflow: hidden;
      }
    }

    &:nth-of-type(4) {
      background-color: white;
      min-height: 100dvh;
      z-index: 1;
      position: relative;
      padding: 2rem;

      h2 {
        font-family: var(--font-family-gillsans);
        font-size: 2rem;
      }
    }
  }
}

@keyframes draaien {
  from {
    transform: translateY(50%) rotate(0deg);
  }
  to {
    transform: translateY(50%) rotate(360deg);
  }
}
