* {
  font-family: var(--font-family-gillsans);
}

body {
  padding: 2rem;
  display: grid;
  gap: 2rem;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button {
    padding: 0.5rem 2rem;
    background: none;
    border: 1px solid black;
    width: fit-content;
    cursor: pointer;
  }
}

main {
  display: grid;
  gap: 2rem;

  form {
    display: grid;
    gap: 1rem;
    padding-top: 1rem;

    label {
      display: grid;
      gap: 0.5rem;
    }

    button {
      background-color: #c5d89d;
    }
  }

  details {
    padding-top: 0.5rem;

    ul {
      padding: 1rem 0 0 0.5rem;
      display: grid;
      gap: 2rem;

      li {
        border: 1px solid black;
        padding: 1rem;
        display: grid;
        gap: 0.5rem;

        div {
          button:nth-of-type(1) {
            background-color: #ffd41d;
          }
          button:nth-of-type(2) {
            background-color: #ff4646;
            color: white;
          }
        }
      }
    }
  }
}
