body {
  display: grid;
  place-content: center;
  height: 100dvh;
  padding: 1rem;
  background-color: black;
  color: white;
  font-family: var(--font-family-gillsans);
}

form {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  justify-content: center;
  padding: 2.5rem 1.5rem;
  gap: 1.5rem;

  input {
    background: black;
    border: 1px solid white;
    color: white;
  }

  header {
    display: grid;
    gap: 0.3rem;
  }

  fieldset {
    display: grid;
    padding: 1.5rem 1rem;
    gap: 1rem;

    label {
      display: grid;
      gap: 0.3rem;
    }

    div {
      display: grid;
      gap: 0.4rem;

      label {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      input[type="password"] {
        width: 100%;
      }
    }
  }

  button {
    width: fit-content;
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }
}
